<p><strong>Open console to see child initialization</strong></p>

<!-------------------------       Simple ng-content       ---------------------------->
<div class="section">

  <p>Content eagerly loaded. The app-child-content is init on start</p>
  <app-eager-container [showContent]="showFirstContent"
                       class="container">
    <app-child-content name="Not lazy"></app-child-content>
  </app-eager-container>

  <button type="button" (click)="toggleFirstContent()">
    Toggle ng-content
  </button>
</div>

<!-------------------------       NgTemplateOutlet       ---------------------------->
<div class="section">

  <p>Content lazy loaded using ngTemplateOutlet</p>
  <app-template-outlet-container [showContent]="showLazyTemplateOutletContent"
                                 class="container">
    <div *appLazyContent>
      <app-child-content name="NgTemplateOutlet"></app-child-content>
    </div>
  </app-template-outlet-container>

  <button type="button" (click)="toggleTemplateOutletContent()">
    Toggle ng-content
  </button>
</div>


<!-------------------------       CDK portal       ---------------------------->
<div class="section">
  <p>Content lazy loaded using CDK portal</p>
  <app-lazy-cdk-container [showContent]="showLazyCDKPortalContent"
                          class="container">
    <div *appLazyContent>
      <app-child-content name="CDK portal"></app-child-content>
    </div>
  </app-lazy-cdk-container>

  <button type="button" (click)="toggleLazyMatContent()">
    Toggle ng-content
  </button>
</div>

